/* header */
.mdl-layout__header {
  background-color: #79B74A
}

.mdl-layout-title {
  font-weight: 700;
  font-size: 2em;
}

.mdl-navigation__link i {
  font-size: 2em;
}

/* card */
.mdl-card {
  height: 320px;
}

div.mdl-card__title {
    position: absolute;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

div.mdl-card__title a {
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

.carousel .owl-item img {
  display: block;
  width: 100%;
  height: 320px;
}

.mdl-card div.color1 { background-color: rgba(183, 28, 28, 0.6); }
.mdl-card div.color2 { background-color: rgba(136, 79, 14, 0.6); }
.mdl-card div.color3 { background-color: rgba(74, 140, 20, 0.6); }
.mdl-card div.color4 { background-color: rgba(49, 146, 27, 0.6); }
.mdl-card div.color5 { background-color: rgba(26, 126, 35, 0.6); }
.mdl-card div.color6 { background-color: rgba(13, 161, 71, 0.6); }
.mdl-card div.color7 { background-color: rgba(1, 155, 87, 0.6); }
.mdl-card div.color8 { background-color: rgba(0, 100, 96, 0.6); }
.mdl-card div.color9 { background-color: rgba(0, 64, 77, 0.6); }
.mdl-card div.color10 { background-color: rgba(27, 32, 94, 0.6); }
.mdl-card div.color11 { background-color: rgba(51, 30, 105, 0.6); }
.mdl-card div.color12 { background-color: rgba(130, 23, 119, 0.6); }
.mdl-card div.color13 { background-color: rgba(245, 23, 127, 0.6); }
.mdl-card div.color14 { background-color: rgba(255, 0, 111, 0.6); }
.mdl-card div.color15 { background-color: rgba(230, 0, 81, 0.6); }
.mdl-card div.color16 { background-color: rgba(191, 12, 54, 0.6); }
.mdl-card div.color17 { background-color: rgba(62, 35, 39, 0.6); }
